.home-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 124px;
    margin-bottom: 182px;
}

.home-page-ui-0 {
    margin-bottom: 95px;
}