.chat-prompt {
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 20px;
    width: 1374px;
    height: 111px;
    border-radius: 15px;
    border: 1px solid #606060;
    padding: 0px 32px;
}

.query-button {
    background: url("../assets//promptArrow.svg") no-repeat;
    width: 60px;
    height: 48px;
    border: 0px;
}

.prompt-input-field {
    width: 100%;
    outline: none;
    border: 0px;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2px;
    margin-left: 54px;
}

.prompt-input-field:focus {
    width: 100%;
    outline: none;
    border: 0px;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2px;
    margin-left: 54px;
}